// Variables

// Colors
$white: #FFF;
$black: #000;
$gray: #CCC;
$lightgray: #F8F8F8;
$darkgray: #999;

$root-fontcolor: $black;
$place-holder: $darkgray;

$midgray: #C9CACA;
$red: #CF001C;
$brown: #665149;

$cardgray: #B3AEA9;
$lightblue: #738CBB;
$blue: #4784BF;
$purple: #934B85;
$yellow: #F39800;
$green: #4DA635;

// Screen-size
$scn-mobplus:	460px;
$scn-tablet:	768px;
$scn-desktop:	991px;
$scn-desktoplg:	1200px;

$base-image-url: '../assets/images';
$base-font-url: '../assets/fonts/';
