// Layout

/* ==========================================================================
   Layout classes
   ========================================================================== */
.page-wrapper {
  padding: 0 30px;
  height: calc(100vh - 30px);
  overflow-y: auto;
  box-sizing: border-box;
}

#app {
  background-color: $lightgray;
}

.wrapper {
  min-width: 320px;
  overflow: hidden;
  position: relative;
}

.section {
  max-width: 1200px;
  padding: 70px 15px;
  margin: 0 auto;

  @media only screen and (max-width: $scn-tablet) {
    padding: 30px 15px;
  }

  &--header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &--dropdown {
    margin-top: -50px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    @include transition(0.3s ease);
    &.open {
      opacity: 1;
      margin-top: 0;
      max-height: 100vh;
    }
  }
}

.inner-wrapper {
  max-width: 970px;
  margin: 0 auto;

  &.more-gap {
    max-width: 770px;
  }

  @media only screen and (max-width: $scn-desktop) {}

  @media only screen and (max-width: $scn-tablet) {}
}

.col {
  padding: 10px 15px;

  @media only screen and (max-width: $scn-tablet) {
    padding: 7px 15px;
  }
}
