.header {
  width: 100%;
	background-color: $white;
  z-index: 999;
  position: fixed;
  left: 0;
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .language-switch {
    font-weight: 300;
    background-color: $gray;
    padding: 5px;
  }

  .logo {
    max-width: 190px;
    img {
      width: 100%;
    }
  }

  .search {
    text-align: right;
  }

  .dropdown {
    position: relative;
    &:before {
      content: '';
      position: fixed;
      width: 100vw;
      height: 1px;
      background-color: $gray;
      left: 0;
    }
    &:after {
      content: '';
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: $white;
      left: 0;
      opacity: 0.3;
    }
    .links {
      margin: 40px 0;
      li {
        padding: 12px 15px;
        font-size: $f-size-s;
        &.active {
          background-color: $black;
          color: $white;
        }
      }
      li:first-child, &.bold {
        font-weight: 600;
      }
    }

    .poster-title {
      padding: 10px 0;
      font-size: $f-size-xs;
      text-align: center;
    }
  }
}
