$primary-color:         #ea5454;
$primary-hover-color:   #475168;
$border-radius: 10px;

.button {
  padding: 10px 30px;
  border-radius: $border-radius;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 9;
  overflow: hidden;

  &:before, &:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    position: absolute;
    background-color: $primary-color;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &:after {
    background-color: $primary-hover-color;
    width: 0;
    transition: 0.3s ease;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  .arrow {
    &:before {
      content: '>';
      position: absolute;
      right: 10px;
      transition: 0.3s ease;
      
    }
  }

}