body {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  // grid-template-areas: 1fr 100px 1fr;
  // grid-template-columns: 1fr 4fr 1fr;
  // grid-template-rows: 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr [col-start]);
  grid-template-rows: repeat(3, 100px [col-start]);
  background-color: #fff;

  .item {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    align-self: center;
    span {

    }
  }
}