.capsule {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  display: flex;
  font-family: 'PingFang SC';

  @media screen and (max-width: 725px) {
    flex-direction: column;
    padding: 0 15px;
  }

  &-left,
  &-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }

  &-left {
    .capsule-section {
      &-image {
        &:before {
          left: -40px;
          transform: rotate(270deg);
          @media screen and (max-width: 925px) {
            left: -25px;
          }
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -40px;
          right: -100px;
          width: 200px;
          height: 200px;
          border: 1px solid #000;
          z-index: -1;
          @media screen and (max-width: 925px) {
            width: 100px;
            height: 100px;
            right: -50px;
            bottom: -20px;
          }
        }
        @media screen and (max-width: 725px) {
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              &:before {
                content: '0#{($i + 1) / 2}';
                @if ($i + 1) / 2 % 2 == 0 {
                  right: -25px !important;
                  left: auto !important;
                  transform: rotate(90deg) !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &-right {
    .capsule-section {
      &-image {
        &:before {
          right: -40px;
          transform: rotate(90deg);
          @media screen and (max-width: 925px) {
            right: -25px;
          }
        }
        @media screen and (max-width: 725px) {
          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              &:before {
                content: '0#{($i) / 2 + 3}';
                @if ($i) / 2 % 2 == 0 {
                  left: -25px !important;
                  right: auto !important;
                  transform: rotate(270deg) !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .capsule-section {
    width: 100%;
    // Image section
    &-image {
      position: relative;
      &:before {
        position: absolute;
        top: 15px;
        font-size: 70px;
      }
      @media screen and (min-width: 725px) {
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            &:before {
              content: '0#{$i}';
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
    // Text section
    &:not(.capsule-section-image) {
      padding: 30px 0;
      min-height: 300px;
      @media screen and (min-width: 925px) {
        padding: 70px 0;
        &:first-child {
          min-height: 600px;
          display: flex;
          align-items: center;
        }
      }
    }

    // Section content
    &-title {
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
    }
    &-text {
      p {
        color: #999;
        margin: 25px 0;
        font-size: 14px;
      }
    }
    .capsule-qr {
      margin-top: 30px;
    }
  }
}