.switch-wrapper {
  position: relative;
  width: 770px;
  height: 400px;
  margin: 50px auto;
  .switch-item {
    width: 400px;
    height: 300px;
    position: absolute;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    &-left {
      margin-left: 30px;
      background: beige;
    }
    &-right {
      margin-top: 130px;
      margin-left: 340px;
      background: darkgray;
      z-index: 9;
    }
  }
}