
// Screen-size
$scn-mobplus:	460px;
$scn-tablet:	768px;
$scn-desktop:	991px;
$scn-desktoplg:	1200px;

$page-border: 30px;

// Fonts
// Font sizes
$f-size-xs  : 0.6875rem;
$f-size-s   : 0.875rem;
$f-size     : 1rem;
$f-size-l   : 1.575rem;
$f-size-xl  : 1.8rem;
$f-size-xxl : 4.375rem;

/* === default font-size: 16px; === */
html {
    font-size: 1em;
    line-height: 1.4;
}

body, input, textarea, select {
    color: $root-fontcolor;
}

h1, h2, h3,  h4, h5, h6 {
    font-weight: 600;
}

strong, b {
    font-weight: 800;
}

h1 {font-size: $f-size-xxl; margin-top: 0;}
h2 {font-size: $f-size-xl;}
h3 {font-size: $f-size-l;}
h4 {font-size: $f-size;}
h5 {font-size: $f-size-s;}
h6 {font-size: $f-size-xs;}
p, label {
    font-size: $f-size-s;
}

h1, h2, h3,  h4, h5, h6, strong, b, p {
    line-height: 1.25em;
    margin-bottom: 0.8em; 
    color: inherit; 
}

p {
    font-size: $f-size-xs;
    line-height: 1.5em;
    color: $darkgray;

    @media only screen and (max-width: $scn-tablet) {
        font-size: $f-size-s;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}