input:required {
  box-shadow: none;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: 0;
}

form {
    input[type=text], input[type=password], 
    input[type=email], input[type=tel],
    textarea, select, .form-control {
        @include border-radius(0);
        @include box-shadow(none);
        display: block;
        width: 100%;
        font-size: $f-size-s;
        line-height: 1.5em;
        padding: 0.9em 1.25em;
        color: $black;
        background: $white;
        border-color: $darkgray;
    }
    textarea {
        resize: none;
        height: auto;
        line-height: 1.25em;
        min-height: 135px;
        border: 1px solid $darkgray;
    }
}

.form-control:focus {
    @include box-shadow(none);
    outline: 0;
    border-color: $black;
    font-weight: 600;
}