// Blocks

/* ==========================================================================
   BANNER classes
   ========================================================================== */
.banner {
	position: relative;

	.row {
		margin-right: 0;
    	margin-left: 0;
	}

	.col-12 {
		padding-right: 0;
    	padding-left: 0;
	}

	@media only screen and (max-width: $scn-tablet) {
		padding-top: 30px;
	}

	.banner-img {
		position: relative;
		overflow: hidden;
		padding-top: 550px;

		img {
			@extend .cover-bg;
		}

		&.banner-sm {
			padding-top: 400px;
		}

		@media only screen and (max-width: $scn-tablet) {
		    padding-top: 335px;

		    &.banner-sm {
				padding-top: 350px;
			}
		}
	}

	.banner-content {
		background-color: $lightgray;
		display: -ms-flexbox;
	    display: flex;
	    -ms-flex-align: center;
	    align-items: center;
	    height: 100%;

		.content-block {
			padding: 20px 130px;
			
			span {
				display: block;
				font-size: $f-size-xxs;
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			h2 {
				font-size: $f-size-xl;
				line-height: 1em;
				margin-bottom: 25px;
			}

			p {
				margin-bottom: 0;
			}
		}

		@media only screen and (max-width: $scn-desktoplg) {
		    .content-block {
				padding: 20px 60px;
			}
		}

		@media only screen and (max-width: $scn-desktop) {
		    .content-block {
				padding: 20px 40px;
			}
		}

		@media only screen and (max-width: $scn-tablet) {
		    .content-block {
				padding: 30px 15px;

				h2 {
					font-size: 2.1875rem;
					margin-bottom: 10px;
				}

				p {
					font-size: $f-size-xs
				}
			}
		}
	}

	.banner-title {
		@include transform(translate(-50%,-50%));
		position: absolute;
		z-index: 5;
		top: 50%;
		left: 50%;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		padding: 15px;
		width: 100%;

		h1 {
			font-size: $f-size-xxl;
			margin-bottom: 0;
		}

		span {
			display: block;
			font-size: $f-size-xl;
			font-weight: 600;
		}
	  

		@media only screen and (max-width: $scn-tablet) {
			h1 {
				font-size: $f-size-xl;
			}
			span {
				display: none;
			}
		}
	}
}