/* === WYSIWYG === */
.wysiwyg-content {
  text-align: left;

  &.inner-wrapper {
    padding-bottom: 0;
  }

  h3, h4 {
    font-size: $f-size-xl;
    font-weight: 800;
    margin-bottom: 30px;
  }
  h5, h6 {
    font-size: $f-size-l;
    font-weight: 600;
  }
  strong, b {
    font-weight: 800;
  }
  i {
    font-style: italic;
  }
  p, q {
    font-size: 1.25rem;
    color: $black;
    margin-bottom: 50px;
  }
  q {
    display: block;
    text-align: center;
  }
  span {
    display: block;
    font-size: $f-size-xs;
    color: $darkgray;
    margin-bottom: 50px;
  }
  img {
    max-width: 100%;
    width: auto;
    margin: 0 auto 30px;
  }
  iframe, video {
    max-width: 100%;
    margin: 0 auto 30px;
  }
  a {
    color: $black;
    text-decoration: underline;
  }
  .btn {
    display: block;
    max-width: 200px;
    margin: 0 auto 30px;
    text-decoration: none;
  }
  ul, ol {
    margin-bottom: 30px;
    font-size: 1.25rem;
    li {
      padding: 0.25em 0;
      color: $black;
      h3, h4, h5, h6, p, span {
        color: inherit;
        margin: 0;
      }
    }
  }
  ol {
    list-style-type: decimal; 
    padding-left: 15px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-left: 15px;
      position: relative;
      &:before {
        @include border-radius(50%);
        content: "";
        width: 3px;
        height: 3px;
        position: absolute;
        display: block;
        background-color: $darkgray;
        top: 12px;
        left: 2px;
      }
    }
  }
  blockquote {
    font-size: $f-size-xl;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;

    &:before, &:after {
      content: '"';
      display: inline-block;
      vertical-align: bottom;
      font-size: $f-size-xxl;
      line-height: $f-size-xl;
    }
  }

  table {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.25rem;

    tr {
      &:nth-child(odd) {
        td {
          background: $gray;
        }
      }
    }

    th, td {
      padding: 5px;
    }

    th {
      background: $gray;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: $scn-tablet) {

    h3, h4 {
      font-size: $f-size-xl;
    }
    h5, h6 {
      font-size: $f-size-l;
    }
    p, q {
      margin-bottom: 30px;
    }
    span {
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    iframe, video {
      margin-bottom: 30px;
    }
    .btn {
      margin: 0 auto 30px;
    }
    ul, ol {
      margin-bottom: 30px;
    }
    blockquote {
      font-size: $f-size;
      margin: 20px 0;

      &:before, &:after {
        font-size: $f-size-xl;
        line-height: $f-size;
      }
    }
    table {
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: $scn-mobplus) {
    .btn {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}