// Collection

.collections-list {
	position: relative;

	.col-12 {
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;

		&:nth-child(n+7) {
			z-index: 5;
		}
	}

	.decoration  {
		display: block;
    	position: absolute;
    	border: 1px solid $black;

    	&:before {
    		display: block;
    		content: "";
    	}

		&.square {
			width: 17%;
    		&:before {
	    		padding-top: 100%;
	    	}
		}

		&.rectangle {
			width: 30%;
    		&:before {
	    		padding-top: 32%;
	    	}
		}
	}

	.posit-01 {
		top: 0;
		left: -20px;
	}

	.posit-02 {
		top: 22%;
    	left: 54%;
	}

	.posit-03 {
		top: 64%;
    	left: 12%;
    	z-index: 3;
	}

	.posit-04 {
		top: 56%;
		right: -20px;
		z-index: 3;
	}

	.posit-05 {
		bottom: 0;
    	right: 22%;
	}

	@media only screen and (max-width: $scn-tablet) {
		padding-top: 10px;

		.col-12 {
			padding-top: 10px;
			padding-bottom: 10px;

			&:nth-child(n+5) {
				z-index: 5;
			}
		}

		.decoration  {
			&.square {
				width: 58%;
			}

			&.rectangle {
				width: 100%;
			}
		}

		.posit-01 {
			left: -30px;
		}

		.posit-02 {
			top: 30%;
		    right: -100px;
		    left: auto;
		}

		.posit-03 {
			top: 54%;
    		left: -60px;
		}

		.posit-04 {
			top: 87.1%;
    		right: 75%;
    		z-index: 6;
			&.square {
				width: 32%;
			}
		}

		.posit-05 {
			bottom: 21.5%;
    		right: -15%;
		}
	}
}

.collections-block {
	display: block;
	position: relative;
	
	&:hover {
		text-decoration: none;
	}

	.collections-img {
		position: relative;
		overflow: hidden;
		padding-top: 150%;

		img {
			@extend .cover-bg;
			max-height: 100%;
			width: auto;
		}
	}

	.collections-content {
		position: absolute;
		width: 100%;
		padding: 20px;
		top: 0;
		left: 0;

		.collections-title {
			font-size: $f-size;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1em;
			margin-bottom: 20px;
		}

		@media only screen and (max-width: $scn-tablet) {
			.collections-title {
				margin-bottom: 10px;
			}
		}
	}
}