// History

.join-content {
	.join-title {
		font-size: 3.125rem;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media only screen and (max-width: $scn-tablet) {
		margin-bottom: 30px;
	}
}

.join-form {

	::-webkit-input-placeholder {
	    color: $place-holder;
	}
	:-moz-placeholder {
	    color: $place-holder;
	}
	::-moz-placeholder {
	    color: $place-holder;
	}
	:-ms-input-placeholder {
	    color: $place-holder;
	}

	label {
		display: none;
	}

	.col {
		padding-top: 0;
		padding-bottom: 0;
	}

	.form-group {
		margin-bottom: 20px;
	}

	.btn {
		display: block;
        width: 100%;
        font-size: $f-size-s;
        font-weight: 600;
        line-height: 1.5em;
        padding: 0.9em 1.25em;
	}

	@media only screen and (max-width: $scn-tablet) {
		
	}

	@media only screen and (max-width: $scn-mobplus) {

	}
}